<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>書籍検索画面</title>
	<!-- style -->
	<link rel="stylesheet" th:href="@{/css/book-search.css}">
</head>


<body>
	<h2>書籍検索</h2>

	<!-- フィルターエリア -->
	<div class="filter-area">
		<form th:object="${bookSearchForm}" method="get">
			<!-- 検索条件：書籍ID指定 -->
			<label>書籍ID：</label>
			<input type="text" th:field="*{bookId}" placeholder="数字を入力">

			<!-- 検索条件：書籍名指定 -->
			<label>書籍名：</label>
			<input type="text" th:field="*{bookName}" placeholder="書籍名を入力">
						
			<!-- 検索条件：ジャンル指定 -->
			<label>ジャンル：</label>
			<select th:field="*{genreId}">
				<option value="">-- 全て --</option>
				<option th:each="genre : ${genres}" 
						th:value="${genre.genreId}" 
						th:text="${genre.genreName}">
				</option>
			</select>

			<!-- 検索条件：置き場所指定 -->
			<label>置き場所：</label>
			<select th:field="*{storageLocationId}">
				<option value="">-- 全て --</option>
				<option th:each="location : ${storageLocations}" 
						th:value="${location.storageLocationId}"
						th:text="${location.storageLocationName}">
				</option>
			</select>

			<button class="btn" type="submit">検索</button>

			<!-- 検索条件が未指定の場合 案内メッセージをcontrollerから受け取り表示する。 -->
			<div th:if="${infoMessage}" th:text="${infoMessage}" class="infoMessage"></div>
			<!-- 検索時に書籍ID・書籍名の入力に不備がある場合 メッセージをcontrollerから受け取り表示する。 -->
			<div th:errors="*{bookId}" class="error"></div> 
			<div th:errors="*{bookName}" class="error"></div>
		</form>
		<br>
	</div>

	<!-- 書籍検索 検索結果をリストで表示 -->
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>書籍名</th>
				<th>ジャンル</th>
				<th>置き場所</th>
				<th>ステータス</th>
				<th>詳細</th>
			</tr>
		</thead>
		<tbody>
			<!-- 検索結果が(resultSearchBook)が null ではなく、かつ、中身が空のリストだった場合に表示する -->
			<tr th:if="${resultSearchBook != null and #lists.isEmpty(resultSearchBook)}">
				<td colspan="6">該当する書籍はありません</td>
			</tr>

			<!-- テーブルから取得した書籍情報を下記の項目に合わせて表示する  -->
			<tr th:each="book : ${resultSearchBook}">
				<td th:text="${book.bookId}">ID</td>
				<td th:text="${book.bookName}">書籍名</td>
				<td th:text="${book.genreName}">ジャンル</td>
				<td th:text="${book.storageLocationName}">置き場所</td>
				<td th:text="${book.status}">ステータス</td>
				<td>
					<a href="#">詳細</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>