<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BookInfoMapper">

	<!-- 画面出力用 BookSearchResultDto とDBカラムのマッピング定義をする -->
	<resultMap id="BookSearchResultMap"
           	   type="com.example.demo.dto.BookSearchResultDto">
   		<id column="id" property="bookId"/>
    	<result column="book_name" property="bookName"/>
    	<result column="genre_name" property="genreName"/>
    	<result column="storage_location_name" property="storageLocationName"/>
    	<result column="status" property="status"/>
	</resultMap>
	
	<!-- 共通部品：書籍情報検索で共通のSELECT句とFROM句をまとめる -->
	<sql id="BaseSelect">
	 /* 検索SQL：書籍情報検索 */
	  SELECT
	     book_info.id
	    ,book_info.book_name
	    ,genre.genre_name
	    ,storage_location.storage_location_name
	    ,book_info.status
	  FROM 
	    book_info
	  INNER JOIN genre ON book_info.fk_genre_id = genre.genre_id
	  INNER JOIN storage_location ON book_info.fk_storage_location_id = storage_location.storage_location_id
	</sql>

	<!-- 書籍検索 全件取得用SQL -->
	<select id="selectAllBooks" resultMap="BookSearchResultMap">
		<!-- 共通部品を使用しBookInfoテーブルから書籍情報を取得する -->
		<include refid="BaseSelect"/>
		<!-- 書籍IDが昇順で並ぶようにする -->
		ORDER BY book_info.id ASC
	</select>

	<!-- 書籍検索用SQL 入力された検索条件（書籍ID・ジャンル・置き場所）に応じて 動的にWHERE句を組み立てる -->
	<select id="selectBookByConditions" resultMap="BookSearchResultMap">
		<!-- 共通部品を使用しBookInfoテーブルから書籍情報を取得する -->
		<include refid="BaseSelect"/>
		
		<!-- 条件付き検索（WHERE句） -->
		<where>
			<!-- 書籍ID検索（完全一致） ・bookId が null でない場合のみ条件に追加 -->
			<!-- DBの設定により大文字小文字 / 全角半角 / ひらがなカタカナを区別しない -->
			<if test="bookId != null">
				AND book_info.id = #{bookId}
			</if>
			<!-- 書籍名検索（部分一致）・bookName が null でない場合のみ条件に追加 -->
		    <if test="bookName != null and bookName != ''">
		      	AND book_name LIKE CONCAT('%', #{bookName}, '%')
		    </if>
			<!-- ジャンル検索（完全一致） ・プルダウン未選択時は空文字("")になるため null と空文字の両方を除外して判定する -->
			<if test="fkGenreId != null">
				AND book_info.fk_genre_id = #{fkGenreId}
			</if>
			<!-- 置き場所検索（完全一致） ・プルダウン未選択時は空文字("")になるため null と空文字の両方を除外して判定する -->
			<if test="fkStorageLocationId != null">
				AND book_info.fk_storage_location_id = #{fkStorageLocationId}
			</if>
			<!-- 書籍IDが昇順で並ぶようにする -->
			ORDER BY book_info.id ASC
		</where>
	</select>

	<!-- <insert id="" parameterType=""> </insert> -->

	<!-- <update id="" parameterType=""> </update> -->

	<!-- <delete id="" parameterType=""> </delete> -->

</mapper>