<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserInfoMapper">

    <!-- UserInfoエンティティとDBカラムのマッピング定義をする -->
	<resultMap id="UserInfoResultMap" type="com.example.demo.entity.UserInfo">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="display_name" property="displayName" />
		<result column="password" property="password" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="role" property="role" />
		<result column="is_active" property="isActive" />
	</resultMap>

    <select id="selectUserName" resultMap="UserInfoResultMap">
        SELECT
            id,
            user_name,
            display_name,
            password,
            created_at,
            updated_at,
            role,
            is_active
        FROM
            user_info
        WHERE
            user_name = #{userName}
    </select>

</mapper>
